.bg-img {
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  scale: 1.01;
  filter: opacity(50%);
}

.description {
  @apply h-40;
  transition: height 0.3s ease-in-out;
}

.has-description:hover .description {
  @apply h-48;
}
