@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-image: linear-gradient(
    80deg,
    rgb(116, 161, 207),
    rgb(196, 171, 220)
  );
  background-size: 100% 1000%;
  height: 100%;
}
